/* YOUR STYLING HERE */

.profilePic {
  width: auto;
}

.tweetContainer {
  border-style: solid;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
}

.userInfo {
  width: 20%;
  margin-right: 25px;
}

.red {
  color: red;
}

.green {
  color: green;
}
